footer {
    background: #343a40;;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

footer .footer-links {
    margin: 10px 0;
}

footer .footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

footer .footer-links a:hover {
    color: #007bff;
}

footer p {
    margin: 10px 0 0;
    font-size: 12px;
}

footer img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    vertical-align: middle;
}

footer img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}






